.title {
    background-color: rgba(5, 5, 5, 0.84);
}

.content {
    width: 40%;
    background: white;
    float: left;
    margin-left: 10%;
}

.nav a {
    max-width: 30%;
}

p {
    margin: 1.3em auto;
    font-size: 1em;
}

h2 {
    font-size: 3em;
    margin: 0.3em;
}


table {
    width: 100%;
}

table th {
    padding: 0.2em 3em;
}

.event_cal {
    position: relative;
    display: block;
    top: 100px;
    width: 45%;
    height: 100%;
    float: right;
    background-color: white;
    clear: none;
}

.event_cal ul li {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
