#home_logo {
    float: left;
    color: red;
    width: 100px;
    background: black;
    height: 50px;
    opacity: 1;
}

#dyn_search_bar {
    float: right;
    width: 50%;
    height: 20px;
    font-size: 0.5em;
    margin: 1em 30%;
    background: white;
    opacity: 100%;
    border-radius: .5em;
    border: solid 2px #c9c9c9;
    transition: border 0.3s;
}

#dyn_search_bar:focus, #dyn_search_bar.focus, #dyn_search_bar:hover, #dyn_search_bar.hover {
    border: solid 3px #969696;
    outline: none;
}

.nav a.search_symbol {
    min-width: 2%;
    max-width: 6%;
    flex-shrink: 4;
    flex-grow: 1;
    align-self: stretch;
    -webkit-align-self: stretch;
    flex: 1;
    -webkit-flex: 1;
}

.club_widgets {
    margin-left: 2.5%;
    width: 40%;
    height: 100%;
    float: left;
    overflow-y: scroll;
    overflow-x
}

.club_widgets a {
    font-size: 1.2em;
    border-radius: 20%;
    width: 7em;
    height: 6em;
    padding: 0.5em;
    color: white;
    transition: box-shadow 0.2s;
    flex: 0 1 auto;
    -webkit-flex: 3 1 main-size;
    margin: 1%;
    background: rgb(97, 171, 218);
    -webkit-box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
    overflow: hidden;
    text-overflow: ellipsis;
}

.club_widgets li {
    width: 100%;
}

.club_widgets ul {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: baseline;
    -webkit-align-items: baseline;
    align-content: center;
    -webkit-align-content: center;
    list-style: none;
    width: 100%;
    margin: auto;
}

.club_widgets a:hover {
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.club_widgets li h1 {
    font-size: 0.8em;
    color: rgb(255, 255, 255);
}

.club_widgets li p {
    font-size: 0.5em;
    color: rgb(255, 255, 255);
}

.club_widgets li h1.club_widgets_hovered {
    color: rgb(97, 171, 218);
}

.club_widgets li p.club_widgets_hovered {
    color: rgb(97, 171, 218);
}

.search_symbol li {
    font-size: 1.4em;
    -webkit-transform: rotate(45deg) translateY(-0.4em);
    -moz-transform: rotate(45deg) translateY(-0.4em);
    -o-transform: rotate(45deg) translateY(-0.4em);
    transform: rotate(45deg) translateY(-0.4em);
    overflow: visible;
}

.event_cal {
    position: relative;
    padding: 2em 2em;
    display: block;
    top: -0.5em;
    width: 45%;
    height: 100%;
    float: right;
    background-color: rgb(48, 117, 164);
    clear: none;
    padding-right: 2.5%;
    overflow-y: scroll;
}

.event_cal ul li {
    border-style: solid;
    border-color: rgb(48, 117, 164);
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    margin-left: 0.75em;
    color: rgb(64, 69, 74);
}

.event_cal ul {
    background-color: rgb(48, 117, 164);
}

.event_cal h1 {
    color: rgb(255, 255, 255);
}

.calDate h2 {
    text-align: left;
    color: rgb(64, 69, 74);
}

.calDate {
    background-color: rgb(255, 255, 255);
}

.calDate ul li span {
    text-align: left;
}
