#home_logo {
    float: left;
    color: red;
    width: 100px;
    background: black;
    height: 50px;
    opacity: 1;
}

#dyn_search_bar {
    float: right;
    width: 50%;
    height: 20px;
    font-size: 0.5em;
    margin: 1em 30%;
    background: white;
    opacity: 100%;
    border-radius: .5em;
    border: solid 2px #c9c9c9;
    transition: border 0.3s;
}

#dyn_search_bar:focus, #dyn_search_bar.focus, #dyn_search_bar:hover, #dyn_search_bar.hover {
    border: solid 3px #969696;
    outline: none;
}

.nav a.search_symbol {
    min-width: 2%;
    max-width: 6%;
    flex-shrink: 4;
    flex-grow: 1;
    align-self: stretch;
    -webkit-align-self: stretch;
    flex: 1;
    -webkit-flex: 1;
}

.club_widgets {
    width: 100%;
    height: 100%;
}

.club_widgets a {
    font-size: 1.2em;
    border-radius: 20%;
    width: 7em;
    height: 6em;
    padding: 0.5em;
    color: black;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    flex: 0 1 auto;
    -webkit-flex: 3 1 main-size;
    margin: 1%;
    background: linear-gradient(to right, #FBD3E9, #BB377D);
}

.club_widgets li {
    width: 100%;
}

.club_widgets ul {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: baseline;
    -webkit-align-items: baseline;
    align-content: center;
    -webkit-align-content: center;
    list-style: none;
    width: 100%;
    margin: auto;
}

.club_widgets a:hover {
    border: solid 5px #969696;
    background: linear-gradient(to right, #606c88, #3f4c6b);
    cursor: pointer;
}

.club_widgets li h1 {
    font-size: 0.8em;
}

.club_widgets li p {
    font-size: 0.5em;
}

.search_symbol li {
    font-size: 0.8em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
