* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
    color: #BBBBBB;
}

.header {
    position: fixed;
    width: 100%;
}

.home_logo {
    float: left;
    padding: 5%;
    padding-bottom: 0.75%;
    clear: none;
    color: red;
    width: 10%;
    background: linear-gradient(red, blue);
    height: 20%;
}

#dyn_search_bar {
    width: 62%;
    float: left;
    font-size: 3.75em;
    clear: none;
    height: 20%;
}

.user_menu {
    font-size: 1.5em;
    border-bottom: solid 2px black;
    padding-top: 1.75%;
    padding-bottom: 1.7%;
    width: 16%;
    float: right;
    height: 20%;
}

.nav {
    align: center;
    font-size: 1em;
    width: 100%;
    display: block;
}

.nav li {
    border-style: solid;
    border-width: 1px;
    padding: 5%;
    display: inline-block;
    float: left;
    width: 6.47%;
    margin: auto;
    background-color: #DDDDDD;
}

.active {
    color: #BBBB10;
}

.nav li:hover {
    background-color: #CC0000;
}

.club_widgets div {
    border-radius: 15%;
    border-color: black;
    border-width: 1px;
}
