/*Contains general style for the body, content div, header div, top_bar div, nav div, and active class, */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: anti-aliased;
}

body {
    text-align: center;
    background: rgb(97, 171, 218);
}

ul {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;
    color: #BBBBBB;
}

.content {
    position: absolute;
    top: 78px;
    width: 100%;
    height: 100%;
    padding-top: 0.5em;
}

.header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
    background: white;
    border-bottom-color: rgb(64, 69, 74);
    border-bottom-style: solid;
    border-bottom-width: 0.6em;
}

.top_bar {
    background-color: rgb(255, 255, 255);
    height: 50px;
    overflow: hidden;
}

.nav {
    font-size: 0.7em;
    width: 100%;
    clear: none;
    max-height: 100%;
    height: 2.5em;
    background-color: rgb(255, 255, 255);
}

.nav ul {
    padding: 0;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: stretch;
    -webkit-align-items: stretch;
    align-content: stretch;
    -webkit-align-content: stretch;
    list-style: none;
    height: 20%;
    margin: auto;
    width: 100%;
}

.nav a {
    border-top: solid 1px white;
    padding: 0.5em 0.5em;
    align-self: stretch;
    float: left;
    max-width: 15%;
    min-width: 4%;
    margin: auto;
    flex: 2 auto;
    -webkit-flex: 2 auto;
    cursor: pointer;
    color: rgb(64, 69, 74);
}

.active {
    color: #BBBB10;
}

.nav a:hover > li {
    color: #BBBB10;
}

.login_nav_bar {
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.nav_bar_active ul {
    list-style: none;
    font-size: 1em;
    display: flex;
    display: -webkit-flex;
    align-content: center;
    -webkit-align-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.nav_bar_active ul li {
    border: solid 1px white;
    padding: 0.4em 0em;
    background-color: rgb(255, 255, 255);
}

.login_menu_hoverable li:hover {
    color: #BBBB10;
}

.popOut {
    z-index: 2;
    background: white;
    position: fixed;
    top: 30%;
    margin: auto;
    padding: 5%;
    left: 35%;
}

.title {
    margin: auto;
    font-size: 2em;
    padding: 0.2em 0.2em;
}

.title span {
    color: rgb(64, 69, 74);
}

.footer {
    position: fixed;
    bottom: -1em;
    width: 100%;
    height: 5em;
    background-color: white;
}
